In [ ]:



def shrinkDataFrame():

In [1]:
import pandas as pd
import numpy as np

In [2]:
home_type = ['single_family',
             'townhouse',
             'condo',
             'single_family',
             'single_family',
             'single_family',
             'condo']
year_built = [1991,
              1976,
              2001,
              1990,
              2007,
              1978,
              1990]

bedrooms = [ 2,
            3,
            2,
            4,
            1,
            3,
            1]

lot_size_acres = [0.5 ,
                  0.1,
                  0,]


df = pd.DataFrame({'home_type' : home_type, 'year_built': year_built, 'bedrooms':bedrooms})

In [4]:
df.select_dtypes('number')

   year_built  bedrooms
0        1991         2
1        1976         3
2        2001         2
3        1990         4
4        2007         1
5        1978         3
6        1990         1

In [5]:
df.select_dtypes('object')

       home_type
0  single_family
1      townhouse
2          condo
3  single_family
4  single_family
5  single_family
6          condo

In [ ]:
df = pd.