# Logical Operators

---

In [1]:
import numpy as np
import pandas as pd

### Bitwise vs. Boolean


& Logical 'and'  
| Logical 'or'  
^ Logical 'xor'  
~ Inverse

In [7]:
df = pd.DataFrame({'a': [2,3,4,5,6],
                   'b': [7,8,9,10,11]})

df

   a   b
0  2   7
1  3   8
2  4   9
3  5  10
4  6  11

In [5]:
df[(df['a'] == 3) and (df['b'] == 8)]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [17]:
df[(df['a'] == 3) & (df['b'] == 8)]

   a  b
1  3  8

In [11]:
c = [True, False, False]
d = [True, True, False]

c and d # This returns any but is that what you want? Why is the seond value True?

[True, True, False]

In [14]:
c or d

[True, False, False]

In [16]:
True and False

False

In [31]:
print(bin(True), end=', ')
print(bin(False))

0b1, 0b0

The behavior is different for a numpy array (or pandas series).

In [22]:
f = np.array([True, False, False])
g = np.array([True, True, False])

f & g

array([ True, False, False])

Always add '(logical_statement)' because bitwise operators evaluate before

## CAUTION 

When used with sets they do something different. They evaluate the *intersection* and *union*.

In [24]:
set("abcd") & set("cdef")

{'c', 'd'}

In [25]:
set("abcd") | set("cdef")

{'a', 'b', 'c', 'd', 'e', 'f'}