# Logical Operators

---

In [1]:
import numpy as np
import pandas as pd

### Bitwise vs. Boolean


& Logical 'and'  
| Logical 'or'  
^ Logical 'xor'  
~ Inverse

In [2]:
df = pd.DataFrame({'a': [2,3,4,5,6],
                   'b': [7,8,9,10,11]})

df

   a   b
0  2   7
1  3   8
2  4   9
3  5  10
4  6  11

In [3]:
df[(df['a'] == 3) and (df['b'] == 8)]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [4]:
df[(df['a'] == 3) & (df['b'] == 8)]

   a  b
1  3  8

In [100]:
c = [True, False, False]
d = [True, True, False]

c and d # This returns any but is that what you want? Why is the seond value True?

[True, True, False]

In [101]:
if [False]:
    print('true')

true

In [103]:
True and "something"

'something'

https://stackoverflow.com/a/22647006/6859782

Here's another example:

In [36]:
if [False]:
    print('True')

True

Things that can be combined bitwise include: Trues and Falses, integers.

In [6]:
c or d

[True, False, False]

In [7]:
True and False

False

In [41]:
False and True

False

In [8]:
print(bin(True), end=', ')
print(bin(False))

0b1, 0b0

In [9]:
print(format(10, 'b'))

1010

In [10]:
1 and 0

0

In [11]:
0 and 1

0

In [12]:
1 or 0

1

In [13]:
0 or 1

1

In [14]:
1 or 'doesnt evaluate'

1

In [34]:
'why does this evaluate' or 1

'why does this evaluate'

In [105]:
1 or 3

1

In [17]:
3 or 2

3

In [28]:
3 | 2

3

In [29]:
2 | 3

3

In [31]:
1 | 'doesnt evaluate'

TypeError: unsupported operand type(s) for |: 'int' and 'str'

Python wants you to be more explicit with lists. You can do this with the operators a.empty, a.bool(), a.item(), a.any() or a.all() as recommended.

In [22]:
c = [True, False, False]
d = [True, True, False]

any(c) and d.item()

AttributeError: 'list' object has no attribute 'item'

In [25]:
print(any(d))
print(all(d))
print(bool(d))

True
False
True

In [39]:
h = [False, True]
i = [True, False]

h and i

[True, False]

x and y => if x is false, then x, else y

In [43]:
True and 'Why'

'Why'

In [77]:
j = []
k = [9, 11]

j or k

[9, 11]

In [81]:
j = [3, 8]
k = []

j and k

[]

The behavior is different for a numpy array (or pandas series).

In [18]:
f = np.array([True, False, False])
g = np.array([True, True, False])

f & g

array([ True, False, False])

In [109]:
True & False

False

#### Notes on syntax

Always add '(logical_statement)' because bitwise operators evaluate before 


These two statements are identical:
```python 
np.bitwise_and(True, False)

True & False
```

In [20]:
True & False

False

In [37]:
np.bitwise_and(True, False)

False

In [112]:
# Is this also the same.
np.logical_and()

ValueError: invalid number of arguments

## CAUTION 

When used with sets they do something different. They evaluate the *intersection* and *union*.

In [106]:
# intersection 
set("abcd") & set("cdef")

{'c', 'd'}

In [107]:
# union
set("abcd") | set("cdef")

{'a', 'b', 'c', 'd', 'e', 'f'}

LOGICOPS: & or | in NumPy is bitwise AND/OR, while in Matlab & and | are logical AND/OR. The difference should be clear to anyone with significant programming experience. The two can appear to work the same, but there are important differences. If you would have used Matlab’s & or | operators, you should use the NumPy ufuncs logical_and/logical_or. The notable differences between Matlab’s and NumPy’s & and | operators are:

Non-logical {0,1} inputs: NumPy’s output is the bitwise AND of the inputs. Matlab treats any non-zero value as 1 and returns the logical AND. For example (3 & 4) in NumPy is 0, while in Matlab both 3 and 4 are considered logical true and (3 & 4) returns 1.

Precedence: NumPy’s & operator is higher precedence than logical operators like < and >; Matlab’s is the reverse.

If you know you have boolean arguments, you can get away with using NumPy’s bitwise operators, but be careful with parentheses, like this: z = (x > 1) & (x < 2). The absence of NumPy operator forms of logical_and and logical_or is an unfortunate consequence of Python’s design.

https://numpy.org/devdocs/user/numpy-for-matlab-users.html#numpy-for-matlab-users-notes

In [17]:
x = 1.1
z = (x > 1) & (x < 2)

In [18]:
z

True

In [10]:
3 | 4

7

In [24]:
17 | 21

21

In [28]:
17 | 22

23

In [11]:
2 | 3

3

In [6]:
3 and 4

4